{% extends "base.html" %}
{% block content %}
    <h2 class="display-3 text-white px-3"> Hisobni tiklash paroli yuborildi. </h2>
    <p class="text-white px-3">Agar siz ro'yxatdan o'tgan email hisob mavjud boʻlsa, parolni oʻrnatish boʻyicha koʻrsatmalarni email orqali yubordik. Siz ularni qisqa vaqt ichida olishingiz kerak.</p>

    <p class="text-white px-3">Agar siz email xabarini olmagan bo'lsangiz, ro'yxatdan o'tgan emailni kiritganingizga ishonch hosil qiling va spam jildini tekshiring.

</p>
{% endblock content %}
